*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(19, 21, 29);
    color: blanchedalmond;
}

.container1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px 20px;
}

.container1 .item{
    background-color: aquamarine;
    color: darkblue;
    font-size: 1.5rem;
    border: 1px red solid;
    padding: 15px;
}

.container2{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px 10px;
}

.container2 .item{
    background-color: rgba(191, 195, 241, 0.351);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    border: 1px red solid;
    padding: 15px;
}
